body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

.str-video {
  background-color: #272a30;
  color: #ffffff;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
}

.side-panel{
  grid-column-start: 1;
  grid-column-end: 2;
  height: width \;
}

.video-container{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.call-container{
  grid-column: span 4;
}

.call-list-preview{
  height: 40px;
  width: 100%;
  background-color: burlywood;
}

.call-list-preview:hover{
  transform: scale(1.02);
  background-color: bisque;
}